extends layout

block content
    div.container-fluid.bg-color-grey
        div.row.padding-5
        div.col-4
        div.col-4.justify-content-md-center.bg-white
            img(src="/images/Rabobank.png", class="image-logo",width="270px")
            hr
            h6.header-align Upload only .xml and .csv file format
            if(messages)
                h6.header-align.alert-msg #{messages}
            div.row
                div.col-12.padding-left-right-10
                    form(enctype='multipart/form-data' method='POST' action='/fileupload')
                        div.form-group
                            input.form-control.bg-grey-2.shadow-inside.border-radius-4(
                                required=true,
                                name='uploadedFile',
                                type='file',
                                id='exampleInputEmail1'
                                accept='.csv, .xml'
                               )
                        button.btn.bg-red.white-color.pull-right(type="submit" id="submit" name="submit")
                            h7  Submit                          
                        button.btn.bg-gray-dark.white-color.pull-right(type="reset")
                            h7 Reset   